<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/favicon.ico" th:href="favicon.ico"/>
    <title img="/static/images/logoMale.png" th:href="@{images/logoMale.png}">Yourganizer</title>
    <link rel="stylesheet" href="/static/css/style.css" th:href="@{css/style.css}" type="text/css"/>
</head>

<body class="my-body" th:style="'background-image: url(/images/background.jpg);'">
<div class="choiseContainer">
    <p class="registration-info">
        Dziękujemy za rejestrację!<br/>
        Na Twojego maila wysłaliśmy kod z linkiem aktywacyjnym.<br/>
        Aktywuj swoje konto i zacznij organizować czas już teraz!<br/>
    </p><br/>
    <button class="block" type="button">
        <a class="my-ref" href="/choise">
            Wróć do wyboru
        </a>
    </button>
</div>


</body>

</html>