<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset='utf-8' content="Cory Sanoy" name="Author"/>

    <link href="http://fullcalendar.io/js/fullcalendar-2.2.5/fullcalendar.css"
          th:href="@{/webjars/fullcalendar/2.2.5/fullcalendar.css}" rel="stylesheet"/>
    <link href="http://fullcalendar.io/js/fullcalendar-2.2.5/fullcalendar.print.css"
          th:href="@{/webjars/fullcalendar/2.2.5/fullcalendar.print.css}" rel="stylesheet" media="print"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"
            th:src="@{/webjars/momentjs/2.9.0/min/moment.min.js}" type="text/javascript"></script>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.3/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.3/jquery.min.js}" type="text/javascript"></script>
    <script src="http://fullcalendar.io/js/fullcalendar-2.2.5/fullcalendar.js"
            th:src="@{/webjars/fullcalendar/2.2.5/fullcalendar.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/fullcalendar/2.2.5/lang/pl.js}"></script>


    <script>
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                locale: 'pl',
                defaultDate: '2020-01-24',
                editable: true,
                eventLimit: true,
                events: {
                    url: '/show',
                    type: 'GET',
                },
            })
        });
    </script>

    <style>

        body {
            margin: 40px 10px;
            padding: 0;
            font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
            font-size: 14px;
        }

        #calendar {
            max-width: 900px;
            margin: 0 auto;
        }

    </style>

    <link rel="icon" href="/static/favicon.ico" th:href="favicon.ico"/>
    <title img="/static/images/logoMale.png" th:href="@{images/logoMale.png}">Yourganizer</title>
    <link rel="stylesheet" href="/static/css/style.css" th:href="@{css/style.css}" type="text/css"/>
    <title>Strona główna</title>
</head>
<body class="my-body" th:style="'background-image: url(/images/background.jpg);'">
<div class="calendarContainer">
<div id='calendar' th:id="calendar"></div>

<br>
<civ class="calendarButtons">

    <div class="buttonsContainer">
    <div class="singleButton1">
<button class="block" type="button"><a href="/addtask">Dodaj zadanie</a></button>
    </div>
        <div class="singleButton2">
<button class="block" type="button"><a href="/deletetask">Usuń zadanie</a></button>
        </div>
    </div>
</civ>
</div>
</body>
</html>