<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <link rel="icon" href="/static/favicon.ico" th:href="favicon.ico"/>
        <title img="/static/images/logoMale.png" th:href="@{images/logoMale.png}">Yourganizer</title>
        <link rel="stylesheet" href="/static/css/style.css" th:href="@{css/style.css}" type="text/css"/>
    </head>

    <body class="my-body" th:style="'background-image: url(/images/background.jpg);'">
        <div class="choiseContainer">
            <p class="registration-info">
                Na Twojego maila wysłaliśmy nowe hasło.<br />
                Przejdź na swoją pocztę i spróbuj zalogować się ponownie<br />
            </p><br />
        </div>   



    </body>

</html>